[submodule "external/firmdot"]
	path = external/firmdot
	url = git@github.com:useless-branch/firmdot.git
[submodule "aglio"]
	path = aglio
	url = git@dominicp.de:aglio
[submodule "recreated_goon"]
	path = recreated_goon
	url = git@dominicp.de:recreated_goon
[submodule "toxic_spokes"]
	path = toxic_spokes
	url = git@dominicp.de:toxic_spokes
[submodule "mcufont"]
	path = mcufont
	url = git@dominicp.de:mcufont
[submodule "json"]
	path = json
	url = git@github.com:nlohmann/json.git
